PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/womensafety
ACCESS_TOKEN_SECRET=your_access_token_secret_here_should_be_long_and_random
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here_should_be_long_and_random
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
